.email-app {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #fff;
    border: 1px solid #c8ced3
}

.email-app nav {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    padding: 1rem;
    border-right: 1px solid #c8ced3
}

.email-app nav .btn-block {
    margin-bottom: 15px
}

.email-app nav .nav {
    -ms-flex-direction: column;
    flex-direction: column
}

.email-app nav .nav-item {
    position: relative
}

.email-app nav .nav-link {
    color: #23282c;
    border-bottom: 1px solid #c8ced3
}

.email-app nav .nav-link i {
    width: 20px;
    margin: 0 10px 0 0;
    font-size: 14px;
    text-align: center
}

.email-app nav .nav-link .badge {
    float: right;
    margin-top: 4px;
    margin-left: 10px
}

.email-app main {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    padding: 1rem
}

.email-app .inbox .toolbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #c8ced3
}

.email-app .inbox .messages {
    padding: 0;
    list-style: none
}

.email-app .inbox .message {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    cursor: pointer;
    border-bottom: 1px solid #c8ced3
}

.email-app .inbox .message:hover {
    background: #f0f3f5
}

.email-app .inbox .message .actions {
    position: absolute;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.email-app .inbox .message .actions .action {
    width: 2rem;
    margin-bottom: .5rem;
    color: #c8ced3;
    text-align: center
}

.email-app .inbox .message a {
    color: #000
}

.email-app .inbox .message a:hover {
    text-decoration: none
}

.email-app .inbox .message.unread .header,.email-app .inbox .message.unread .title {
    font-weight: 700
}

.email-app .inbox .message .header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: .5rem
}

.email-app .inbox .message .header .date {
    margin-left: auto
}

.email-app .inbox .message .title {
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.email-app .inbox .message .description {
    font-size: 12px
}

.email-app .message .toolbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #c8ced3
}

.email-app .message .details .title {
    padding: 1rem 0;
    font-weight: 700
}

.email-app .message .details .header {
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    margin: 1rem 0;
    border-top: 1px solid #c8ced3;
    border-bottom: 1px solid #c8ced3
}

.email-app .message .details .header .avatar {
    width: 40px;
    height: 40px;
    margin-right: 1rem
}

.email-app .message .details .header .from {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 12px;
    color: #73818f
}

.email-app .message .details .header .from span {
    display: block;
    font-weight: 700
}

.email-app .message .details .header .date {
    margin-left: auto
}

.email-app .message .details .attachments {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-top: 3px solid #f0f3f5;
    border-bottom: 3px solid #f0f3f5
}

.email-app .message .details .attachments .attachment {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin: .5rem 0;
    font-size: 12px
}

.email-app .message .details .attachments .attachment .badge {
    margin: 0 .5rem;
    line-height: inherit
}

.email-app .message .details .attachments .attachment .menu {
    margin-left: auto
}

.email-app .message .details .attachments .attachment .menu a {
    padding: 0 .5rem;
    font-size: 14px;
    color: #c8ced3
}

@media(max-width: 767.98px) {
    .email-app {
        -ms-flex-direction:column;
        flex-direction: column
    }

    .email-app nav {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

@media(max-width: 575.98px) {
    .email-app .message .header {
        -ms-flex-flow:row wrap;
        flex-flow: row wrap
    }

    .email-app .message .header .date {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

.map-holder{
	height: 450px;
}

/*  Tab component */
.nav-tabs .ssup.active{
    background: #20a8d8 !important;
    color: #fff;
}

.sstab > li.active a {
    background-color: #20a8d8;
}

.sstab > li:first-child {
    border-left: 0;
}
.sstab > li {
    position: relative;
    overflow: visible;
    border-right: 12px solid #fff;
    border-left: 12px solid #fff;
}

.sstab > li.active a {
    background-color: #20a8d8;
    border-radius: 0;
}
.sstab > li:first-child a {
    border-radius: 5px 0 0 5px;
}



.sstab > li .nav-arrow {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 17px 20px;
    border-color: transparent transparent transparent #eee;
    z-index: 150;
}

.sstab > li.active .nav-arrow {
    border-color: transparent transparent transparent #20a8d8;
}

.sstab > li.active .nav-wedge {
    border-color: #20a8d8 #20a8d8 #20a8d8 transparent;
}

.sstab > li .nav-wedge {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 17px 20px;
    border-color: #eee #eee #eee transparent;
    z-index: 150;
}

.nav-tabs .nav-link {
    color: #73818f;
    background: #eee;
}

.sstab .nav-item a{
    border:none !important;
}

.sstab>li+li {
    margin-left: 0;
}

/*  */

ul li.nav-item:last-child {
    border-right: 0;
}

/* loader for Login */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;


  /* -webkit-box-shadow: rgba(32, 168, 216, 0.75) 1.5em 0 0 0, rgba(32, 168, 216, 0.75) 1.1em 1.1em 0 0, rgba(32, 168, 216, 0.75) 0 1.5em 0 0, rgba(32, 168, 216, 0.75) -1.1em 1.1em 0 0, rgba(32, 168, 216, 0.5) -1.5em 0 0 0, rgba(32, 168, 216, 0.5) -1.1em -1.1em 0 0, rgba(32, 168, 216, 0.75) 0 -1.5em 0 0, rgba(32, 168, 216, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(32, 168, 216, 0.75) 1.5em 0 0 0, rgba(32, 168, 216, 0.75) 1.1em 1.1em 0 0, rgba(32, 168, 216, 0.75) 0 1.5em 0 0, rgba(32, 168, 216, 0.75) -1.1em 1.1em 0 0, rgba(32, 168, 216, 0.75) -1.5em 0 0 0, rgba(32, 168, 216, 0.75) -1.1em -1.1em 0 0, rgba(32, 168, 216, 0.75) 0 -1.5em 0 0, rgba(32, 168, 216, 0.75) 1.1em -1.1em 0 0;*/
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.noImage {
    max-height: 100px;
    max-width: 100%;
}

/*    pagination of data tables copied from bootstrap 3   */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.col-xs-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-xs-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
/*   */


.actionTab span{
    margin: 2px;
}
.accordHeader span.accordTitle{
    padding: 6px;
    display: inline-block;
    font-size: 13px;
}
.no-padding{
    padding: 0;
}
.header-icon i{
    padding: 0 5px;
}

.no-padding .list-group, .no-padding .tab-content .tab-pane{
    padding: 3px;
}

.accordDiv{
    padding: 10px;
    font-size: 12px;
}
.accordHeader {
    border-bottom: 1px solid #ced2d4;
}

.swal-button{
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
    padding: 5px 15px;
    /* padding: .25rem .5rem; */
    font-size: .765625rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.swal-button--danger{
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
}
.btn-custom{
    border-radius: 0;
}
.tab-pane.mapDetail {
    height: 545px;
    margin-bottom: 2%;
    position: relative;
    width: 98%;
    left: 0;
    padding: 1%;
}
.clear{
    clear: both;
}
.nearmeTab {
    border: 1px solid #dcd1d1;
    float: right;
}
.no-padding .tab-content .tab-pane.questionTab{
    padding: 1rem;
}

.hideQuestion{
    display: none;
}
.project-title {
    padding-left: 8px;
    font-size: 15px;
    font-weight: 600;
}